@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}

.mat-tab-link {
  font-size: 20px;
}

.error {
  color: red;
}
