<html>
  <head></head>
  <link href="/styles.css" rel="stylesheet">
  <script src="/script.js"></script>
  <script>
    window.onload = function () {
      const rsslink__output = document.querySelector('.rsslink__output-status');
      const rsslink__list = document.querySelector('.rsslink__list');
          
      getRssChannels()
      .then(channels => {
        channels.forEach(function(item, i) {
          rsslink__list.innerHTML += `<div id="rss_cannel_${item.id}" data-id="${item.id}">${item.title}: ${item.link}</div>`;
        });
      });

      const rsslink__btn = document.querySelector('.rsslink__btn button');

      rsslink__btn.onclick = function(e) {
        e.target.disabled = true;

        saveRssLink(rssName.value, rssLink.value)
        .then(channel => {
          rsslink__list.innerHTML += `<div id="rss_cannel_${channel.id}" data-id="${channel.id}">${rssName.value}: ${rssLink.value}</div>`;
          
          rsslink__output.innerHTML = 'rss chanel was added !';
          
          removeClass(rsslink__output, 'error');
          
          rssName.value = '';
          rssLink.value = '';

          e.target.disabled = false;
        })
      }
    }
  </script>

  <body>
    <h1 class="header">NodeJS Rest API</h1>

    <div class="menu">
      <a href="/articles">Rss Articles</a>
    </div>

    <div class="rsslink">
      <div class="rsslink__header">
        <h2 class="rsslink__title">Rss Channels</h2>
      </div>

      <div class="rsslink__body">
        <div class="rsslink__name-inp"><input id="rssName" placeholder="Имя канала" type="text"></div> 
        <div class="rsslink__title-inp"><input id="rssLink" placeholder="Ссылка" type="text"></div> 
        <div class="rsslink__output-status"></div>
        <div class="rsslink__btn">
          <button>Save</button>
        </div>

        <div class="rsslink__list"></div>
      </div>
    </div>
  </body>
</html>