<html>
  <head></head>
  <link href="/styles.css" rel="stylesheet">
  <script src="/script.js"></script>
  <script>
    window.onload = function () {
      const rsslink__output = document.querySelector('.rsslink__output-status');
      const rsslink__select = document.querySelector('.rsslink__name-select select');
      const rsslink__list = document.querySelector('.rsslink__list');
          
      getRssChannels()
      .then(channels => {
        channels.forEach(function(item, i) {
          const option = document.createElement("option");
          option.text = item.title;
          option.id = item._id;
          option.value = item._id;
          rsslink__select.add(option);
        });
      });
      
      const rsslink__btn = document.querySelector('.rsslink__btn button');

      rsslink__btn.onclick = function(e){
        getRssArticlesByChannels(rssId.value)
        .then(articles => {
          rsslink__list.innerHTML = '';
          rsslink__output.innerHTML = '';

          removeClass(rsslink__output, 'error');

          [].forEach.call(articles.data, function(item, i) {
            rsslink__list.innerHTML += `<div id="rss_cannel_${item.id}" data-id="${item.id}"> ${item.title}: ${item.link}</div>`;
          });
        })
        .catch(function(e){
          console.log(e);

          rsslink__output.innerHTML = e;

          addClass(rsslink__output, 'error');

          return;
        });
      };
    };
  </script>
  <body>
    <h1 class="header">NodeJS Rest API</h1>

    <div class="menu">
      <a href="/">Rss Channels</a>
    </div>

    <div class="rsslink">
      <div class="rsslink__header">
        <h2 class="rsslink__title">Rss Articles</h2>
      </div>
      <div class="rsslink__body">
        <div class="rsslink__name-select">
          <select name="" id="rssId">
            <option value="">not selected</option>
          </select>
        </div>

        <div class="rsslink__output-status"></div>
          <div class="rsslink__btn">
            <button>read</button>
        </div>

        <div class="rsslink__list"></div>
      </div>
    </div>
  </body>
</html>